@keyframes pageOut
  100%
    opacity 0
    transform translateY(5em) scale(.75, .75);

@keyframes pageIn
  0%
    transform translateY(100vh);
  100%
    transform translateY(0);

.animate-page-out,
.animate-page-in 
  left:0;
  top: 0;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;

.animate-page-out 
  position: relative;
  animation-name: pageIn;
  animation-duration $duration-transition-short-ms
  animation-timing-function $timing-animation-page-exit 
  animation-fill-mode forwards
  z-index: 101;

.animate-page-in
  animation-name: pageOut;
  animation-duration $duration-transition-default-ms
  animation-timing-function $timing-animation-page-entry 
  position: absolute;
  z-index: 102;
