$color-black = #000;
$color-grey = #666;

$duration-transition-default-ms = 400ms
$duration-transition-short-ms= 250ms;
$duration-transition-default-ms= 400ms;


$timing-transition-default = ease
$timing-animation-page-exit= ease;
$timing-animation-page-entry= ease;
